<p id="notice"><%= notice %></p>

<h1>Bookpics</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookpics.each do |bookpic| %>
      <tr>
        <td><%= bookpic.id %></td>
        <td><%= bookpic.name %></td>
        <td><%= bookpic.image %></td>
        <td><%= link_to 'Show', bookpic %></td>
        <td><%= link_to 'Edit', edit_bookpic_path(bookpic) %></td>
        <td><%= link_to 'Destroy', bookpic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bookpic', new_bookpic_path %>
