<!DOCTYPE html>
<html>
  <head>
    <title>BookIIs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag  'https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css'  %>
<%= stylesheet_link_tag  'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="">
      <%= link_to 'Home',  root_path %>
      <hr>
    </div>

<% if !user_signed_in? %>
<p class="sign_in" ><%= link_to "Login", new_user_session_path %></p>
<% end %>
<% if user_signed_in? %>

<p>
<%= link_to 'Book Library',  books_path %>
</p>
<button class="button">

  <%= link_to('LogOut', destroy_user_session_path, :method => :delete) %>

</button>

<% end %>

    <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>
  <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
